<footer id="ocw-footer-general" class="mt-5">
    <div class="ocw-container-section p-0">
        <div class="row">
            <div class="col-12 col-lg-4 p-0">
                <div class="ocw-footer-cont"
                    style="background-image: url(../../../assets/img/footer/bg-footer.png); background-size: cover; background-repeat: no-repeat; background-position: center;">
                    <div class="ocw-footer-cont__logos d-flex flex-column justify-content-center align-items-center">
                        <img src="../../../assets/img/footer/ocensa-logo-footer.svg" alt="" class="ocw-footer-cont__logos__ocensa mb-3">
                        <img src="../../../assets/img/footer/logos-aux.png" alt="" class="ocw-footer-cont__logos__aux">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 p-0 d-flex flex-column align-items-center justify-content-center"
                style="background-color: #E2E7EA;">
                <div class="row m-0 cont-info-pages">
                    <div class="col-6 col-lg-3 p-0 d-flex flex-column">
                        <a href="/nosotros/nuestra-razon-de-ser.html" class="cont-info-pages__item-menu" id="ocw-nosotros-footer">Nosotros</a>
                        <a href="/nosotros/cultura.html" class="cont-info-pages__item-menu">Cultura organizacional</a>
                    </div>
                    <div class="col-6 col-lg-3 p-0 d-flex flex-column">
                         <a href="https://portal.ocensa.com.co/_layouts/15/SignInForm/SignIn.aspx" target="_blank" class="cont-info-pages__item-menu">Inversionistas</a>
                        <a href="/sala-de-prensa.html" class="cont-info-pages__item-menu">Sala de prensa</a>
                    </div>
                    <div class="col-6 col-lg-3 p-0 d-flex flex-column">
                       <a href="/trabaje-con-nosotros.html" class="cont-info-pages__item-menu">Trabaje con nosotros</a>
                       <a href="/participacion-en-politicas-publicas.html" class="cont-info-pages__item-menu">Participe</a>
                    </div>
                    <div class="col-6 col-lg-3 p-0 d-flex flex-column">
                       <a href="/contacto.html" class="cont-info-pages__item-menu">Atención al ciudadano</a>
                       <a href="/contacto.html#linea-etica" class="cont-info-pages__item-menu">Línea ética</a>
                    </div>
                </div>
                <div class="row m-0 cont-info-contact">
                    <div class="col-12 col-lg-4 p-0 d-flex flex-column">
                        <div class="cont-info-contact__items-contact justify-content-start align-items-center">
                            <a href="#" class="contact-link">
                                <span class="contact-link__icon">
                                    <i class="far fa-phone"></i>
                                </span>

                                <span class="contact-link__text">Teléfono: +57 601 3250200</span>
                            </a>
                        </div>
                        <div class="cont-info-contact__items-contact justify-content-start align-items-center">
                            <a href="#" class="contact-link">
                                <span class="contact-link__icon">
                                    <i class="far fa-map-marker-alt"></i>
                                </span>
                                
                                <span class="contact-link__text">Carrera 11 # 84 -09 Piso 10</span>
                            </a>
                        </div>
                        <div class="cont-info-contact__items-contact justify-content-start align-items-center">
                            <a href="#" class="contact-link">
                                <span class="contact-link__icon">
                                    <i class="fal fa-globe-americas"></i>
                                </span>
                                
                                <span class="contact-link__text">Bogotá D.C., Colombia</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-0 d-flex flex-column">
                        <div class="cont-info-contact__items-contact justify-content-start align-items-center">
                           <a href="https://www.linkedin.com/company/oleoducto-de-colombia-s-a-/" target="_blank" class="contact-link">
                                <span class="contact-link__icon">
                                    <i class="fab fa-linkedin-in"></i>
                                </span>
                                
                                <span class="contact-link__text">@ocensa</span>
                            </a>
                        </div>
                        <div class="cont-info-contact__items-contact justify-content-start align-items-center">
                            <a href="https://www.youtube.com/channel/UCuYpYvLB8cslBpodN5fKAyQ/featured" target="_blank" class="contact-link">
                                <span class="contact-link__icon">
                                    <i class="fab fa-youtube"></i>
                                </span>
                                
                                <span class="contact-link__text">Oleoducto Ocensa</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-0 d-flex flex-column">
                        <div class="cont-info-contact__items-contact justify-content-start">
                            <a href="#" class="contact-link">
                                <span class="contact-link__icon">
                                    <i class="far fa-envelope-open"></i>
                                </span>
                                
                                <span class="contact-link__text">Correo de notificaciones judiciales:
                                    notificaciones.judiciales@ocensa.com.co</span>
                            </a>
                        </div>
                        <div class="cont-info-contact__items-contact justify-content-start align-items-center">
                                <a href="#" class="contact-link">
                                    <span class="contact-link__icon">
                                        <i class="far fa-phone"></i>
                                    </span>
                                    
                                    <span class="contact-link__text">Línea de emergencia: 018000 122225</span>
                                </a>
                            </div>
                        <div class="cont-info-contact__items-contact justify-content-start align-items-center">
                            <a href="/mapa-del-sitio.html" class="contact-link">
                                <span class="contact-link__icon">
                                    <i class="far fa-folder-tree"></i>
                                </span>
                                
                                <span class="contact-link__text">Mapa del sitio</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row m-0 cont-info-legal pb-2">
                    <div class="col-12 col-lg-4 p-0 d-flex flex-column">
                        <div class="cont-info-legal__item-legal justify-content-start align-items-center">
                            <span>2022 Oleoducto Central S.A – Ocensa</span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-0 d-flex flex-column">
                        <div class="cont-info-legal__item-legal justify-content-start align-items-center">
                            <a href="/docs/terminos-y condiciones-de-uso.pdf">Términos y condiciones de uso</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-0 d-flex flex-column">
                        <div class="cont-info-legal__item-legal justify-content-start">
                            <a href="/docs/politica-declaracion-de-tratamiento-de-datos-personales.pdf">Política de protección de datos personales</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>